<header class="app-header navbar">
	<a class="navbar-brand" href="#"></a>
	<ul class="nav navbar-nav d-md-down-none">
		<li class="nav-item px-3">
			<a class="nav-link" routerLinkActive="active" [routerLink]="['/']" [routerLinkActiveOptions] = "{exact:true}">Home</a>
		</li>
	</ul>
</header>

<footer class="app-footer">
    <a href="http://coreui.io">CoreUI</a> &copy; 2017 creativeLabs.
    <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>. Customized by CK Design &amp; Development.</span>
</footer>